.trocchi-regular {
  font-family: "Trocchi", serif;
  font-weight: 400;
  font-style: normal;
}
.oxanium {
  font-family: "Oxanium", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
